In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('japan_birth.csv')
df

,Unnamed: 0,year,birth_total,birth_male,birth_female,birth_rate,birth_gender_ratio,total_fertility_rate,population_total,population_male,...,mother_age_30-34,mother_age_35-39,mother_age_40-44,mother_age_over_45,father_age_avg,father_age_firstborn,father_age_secondborn,father_age_thirdborn,legitimate_child,illegitimate_child
0,0,1899,1386981.0,713442.0,673539.0,32.0,105.9,NaN,43404000,21836000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1900,1420534.0,727916.0,692618.0,32.4,105.1,NaN,43847000,22051000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1901,1501591.0,769494.0,732097.0,33.9,105.1,NaN,44359000,22298000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1902,1510835.0,773296.0,737539.0,33.6,104.8,NaN,44964000,22606000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1903,1489816.0,763806.0,726010.0,32.7,105.2,NaN,45546000,22901000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,119,2018,918400.0,470851.0,447549.0,7.4,105.2,1.42,124218285,60454898,...,334906.0,211021.0,51258.0,1659.0,34.0,32.8,34.6,35.6,897359.0,21041.0
120,120,2019,865239.0,443430.0,421809.0,7.0,105.1,1.36,123731176,60208034,...,312582.0,201010.0,49191.0,1649.0,34.0,32.8,34.7,35.7,845068.0,20171.0
121,121,2020,840835.0,430713.0,410122.0,6.8,105.0,1.33,123398962,60002838,...,303436.0,196321.0,47899.0,1676.0,34.1,32.8,34.7,35.8,820795.0,20040.0
122,122,2021,811622.0,415903.0,395719.0,6.6,105.1,1.30,122780487,59686643,...,292439.0,193177.0,48517.0,1617.0,34.2,32.9,34.8,35.9,793020.0,18602.0
123,123,2022,770759.0,395257.0,375502.0,6.3,105.3,1.26,122030523,59313678,...,279517.0,183327.0,46338.0,1658.0,34.2,32.9,34.8,36.0,753031.0,17728.0

In [6]:
df.describe()

,Unnamed: 0,year,birth_total,birth_male,birth_female,birth_rate,birth_gender_ratio,total_fertility_rate,population_total,population_male,...,mother_age_30-34,mother_age_35-39,mother_age_40-44,mother_age_over_45,father_age_avg,father_age_firstborn,father_age_secondborn,father_age_thirdborn,legitimate_child,illegitimate_child
count,124.000000,124.000000,1.210000e+02,1.210000e+02,1.210000e+02,121.000000,121.000000,76.000000,1.240000e+02,1.240000e+02,...,22.000000,22.000000,22.000000,22.000000,32.000000,32.000000,32.000000,32.000000,3.400000e+01,34.000000
mean,61.500000,1960.500000,1.626691e+06,8.342706e+05,7.924202e+05,20.947107,105.312397,1.869474,9.140094e+07,4.493938e+07,...,354845.363636,170626.909091,33433.363636,962.500000,32.659375,31.278125,33.306250,34.928125,1.238343e+06,23829.588235
std,35.939764,35.939764,4.334684e+05,2.219274e+05,2.115989e+05,10.490480,0.861740,0.696473,2.934043e+07,1.411681e+07,...,34475.147894,61618.092916,17902.899868,539.443518,1.108285,1.314371,1.067387,0.603877,4.319991e+05,15549.594410
min,0.000000,1899.000000,7.707590e+05,3.952570e+05,3.755020e+05,6.300000,102.700000,1.260000,4.340400e+07,2.183600e+07,...,279517.000000,59127.000000,6911.000000,224.000000,30.100000,28.300000,30.800000,33.300000,7.530310e+05,12548.000000
25%,30.750000,1929.750000,1.221585e+06,6.269710e+05,5.946140e+05,9.900000,104.900000,1.405000,6.420265e+07,3.226527e+07,...,337539.750000,106642.000000,13152.250000,447.500000,31.800000,30.100000,32.575000,34.700000,9.887712e+05,18810.500000
50%,61.500000,1960.500000,1.659521e+06,8.502090e+05,8.069600e+05,18.600000,105.300000,1.730000,9.385175e+07,4.609080e+07,...,362117.500000,198665.500000,39734.000000,901.500000,32.600000,31.350000,33.200000,34.800000,1.068916e+06,21582.000000
75%,92.250000,1991.250000,1.990876e+06,1.017457e+06,9.680360e+05,32.400000,105.800000,2.065000,1.227362e+08,6.004488e+07,...,379472.000000,220979.250000,49022.500000,1484.250000,33.725000,32.625000,34.325000,35.325000,1.365193e+06,22944.000000
max,123.000000,2022.000000,2.696638e+06,1.380008e+06,1.316630e+06,36.200000,108.700000,4.540000,1.263817e+08,6.162000e+07,...,404700.000000,229741.000000,53484.000000,1676.000000,34.200000,32.900000,34.800000,36.000000,2.577212e+06,101580.000000